.top__collection
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin: 236px 0 100px
  &-title
    color: rgb(20, 20, 22)
    font-family: $poppins
    font-size: 45.04px
    font-weight: 600
    line-height: 44.75px
    text-align: left
    margin-bottom: 91px
  &-container
    height: auto
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
  &-header
    width: 1243px
    display: flex
    align-items: center
    justify-content: center
    color: rgb(147, 152, 154)
    font-family: $poppins
    font-size: 22px
    font-weight: 500
    line-height: 130%
    letter-spacing: 1%
    text-align: left
    margin-bottom: 46px
.collection__header-container
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
.filter__collection
  width: 788.08px
.other__filter
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between

.top__collection-users
  display: flex
  width: 1243px
  align-items: center
  justify-content: space-between
  flex-direction: column
.users__item
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  margin-bottom: 80px
.users__item:after
  content: ''
  border: 1.69px solid rgb(235, 233, 233)
  width: 1233.38px
  height: 0
  position: absolute
  top: 80px
  margin: 39.045326232910156px 0px
.collection__user
  display: flex
  align-items: center
.collection__avatar-block
  margin-right: 25px
.collection__avatar
  width: 84.04px
  height: 84.04px
  border-radius: 50%
.collection__name
  display: flex
  align-items: start
  flex-direction: column
  justify-content: space-between
  width: 113px
  height: 74.75px
  &-user
    color: rgb(20, 20, 22)
    font-family: $poppins
    font-size: 28.01px
    font-weight: 500
    line-height: 140%
    text-align: left
.collection__nickname-user
  color: rgb(100, 116, 139)
  font-family: $poppins
  font-size: 22.76px
  font-weight: 400
  line-height: 150%
  text-align: left
.collection__counter
  display: flex
  align-items: center
  justify-content: space-between
  width: 788.33px
.collection__item-total
  display: flex
  align-items: center
.collection__total
  width: 31.52px
  height: 31.52px

  &-ratio
    color: rgb(20, 20, 22)
    font-family: $poppins
    font-size: 24.51px
    font-weight: 600
    line-height: 140%
    text-align: left

.collection__eth
  color: rgb(16, 195, 82)
  font-size: 24.51px
  font-weight: 500
  line-height: 130%
  letter-spacing: 1%
  text-align: left

.view__all
  display: flex
  align-items: center
  justify-content: space-between
  width: 120.79px
  margin-left: auto
  text-decoration: none
.explore
  color: rgb(172, 173, 185)
  font-family: $poppins
  font-size: 17.67px
  font-weight: 500
  line-height: 39.92px
  letter-spacing: -0.09px
  text-align: right
.arrow__explore
