.explore
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-bottom: 103px
  &__title
    color: rgb(20, 20, 22)
    font-size: 45px
    font-weight: 600
    line-height: 26.92px
    text-align: left
    margin-bottom: 65px
  &__filters
    display: flex
    align-items: center
    justify-content: space-between
    width: 545.8px
    margin-bottom: 100px
.filter__item
  display: flex
  align-items: center
  box-sizing: border-box
  border: 2.21px solid rgb(20, 20, 22)
  border-radius: 13.26px
  padding: 18px
.filter__desc
  color: rgb(26, 32, 44)
  font-size: 15.47px
  line-height: 150%
  letter-spacing: 0.22px
  text-align: left
.filter__img
  margin-right: 13px
.explore__grid
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 40px
  margin-bottom: 100px
.explore__card
  border-radius: 23.55px
  box-shadow: 38.94px 11.8px 59px 0px rgba(199, 199, 199, 0.6)
  background: rgb(255, 255, 255)
  padding: 20px
