.hero
  display: flex
  align-items: center
  justify-content: center
  &__container
    display: flex
    align-items: center
    justify-content: space-between
  &__text
    display: flex
    align-items: start
    flex-direction: column

  .hero__content
    display: flex
    align-items: start
    flex-direction: column
  &__title
    width: 567px
    color: rgb(20, 20, 22)
    font-family: $poppins
    font-size: 75px
    font-weight: 600
    line-height: 120%
    letter-spacing: -3px
    text-align: left
    text-transform: capitalize
    margin-bottom: 16px
  &__descr
    width: 499px
    font-family: $inter
    color: rgb(103, 103, 103)
    font-size: 18px
    font-weight: 400
    line-height: 28px
    text-align: justify
    margin-bottom: 45px

.bold
  color: rgb(20, 20, 22)
  font-weight: 600

.hero__btns
  display: flex
  align-items: center
  margin-bottom: 82px

.hero__btn
  border-radius: 12.41px
  border: 1.5px solid rgb(0, 0, 0)
  text-decoration: none
  padding: 18px 30px
  font-family: $poppins
  font-size: 16.27px
  font-weight: 500
  line-height: 24px
  letter-spacing: 1%
  text-align: left
  text-transform: uppercase

.primary
  color: rgb(255, 255, 255)
  background: rgb(0, 0, 0)
  margin-right: 23px

.light
  color: rgb(0, 0, 0)

.features
  display: flex
  align-items: center

  &__list
    width: 453px
    display: flex
    align-items: center
    justify-content: space-between
  &__item
    display: flex
    align-items: start
    flex-direction: column
  &__title
    color: rgb(20, 20, 22)
    font-family: $ps
    font-size: 36.77px
    font-weight: 600
    line-height: 45.96px
    text-align: center
    margin-bottom: 6px
  &__descr
    color: rgb(132, 133, 134)
    font-family: $inter
    font-size: 12.26px
    font-weight: 500
    line-height: 18.39px
    text-align: center
.hero__header
  width: 780px
  height: 554px
  display: flex
  align-items: center
  justify-content: center
  position: relative
.arrow__big
  position: absolute
  top: 70px
  right: -50px
  transform: rotate(3deg)

.dots
  position: absolute
  width: 173px
  height: 192.22px
  top: 0
  right: -245px

.hero__slider
  width: 100%
  height: 100%
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: column
.hero__slider-btns
  position: relative
  width: 166px
  height: 68.99px
  display: flex
  align-items: center
  justify-content: space-between
  border-radius: 17.25px
  box-shadow: 0px 43.12px 34.49px -25.87px rgba(15, 15, 15, 0.12)
  background: rgb(252, 252, 253)
  bottom: 0
.hero__slide
  width: 391px
  height: 395px
  margin-bottom: 72px
.blur
  position: absolute
  right: -250px
  top: 200px
  &--img
    border-radius: 25px

.arrow__btn
  position: static
  width: 122.88px
  height: 25.87px
.arrow__img

.arrow__btn--prev
  position: absolute
  left: 20.48px

.arrow__img--next
  position: absolute
  right: 20.48px
