.hero__header
  width: 780px
  height: 554px
  display: flex
  align-items: center
  justify-content: center
  position: relative
.arrow__big
  position: absolute
  top: 60px
  left: 55%
  transform: rotate(3deg)
  &--img
    width: 100%
    height: 100%

.dots
  position: absolute
  width: 173px
  height: 192.22px
  top: 0
  right: 0
  &__img
    width: 100%
    height: auto

.hero__slider
  width: 100%
  height: 100%
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: column

.hero__slide
  width: 391px
  height: 395px
  margin-bottom: 72px
  transition: all 0.5s ease-in-out
  box-shadow: 0px 50px 60px -20px rgba(15, 15, 15, 0.3)
  border-radius: 25px
  background-color: white

  &.active
    position: absolute
    top: 19px
    left: 0
    transform: translateY(0)
    opacity: 1
    filter: none

  &.blur
    width: 319.16px
    height: 322.08px
    position: absolute
    top: -100px
    right: 0
    transform: translateY(100%)
    filter: blur(8px)

  &--img
    width: 100%
    height: 100%
    border-radius: 25px

.slider-btns
  position: relative
  width: 166px
  height: 68.99px
  display: flex
  align-items: center
  justify-content: space-between
  border-radius: 17.25px
  box-shadow: 0px 43.12px 34.49px -25.87px rgba(15, 15, 15, 0.12)
  background: rgb(252, 252, 253)

.hero__slider-btns
  position: absolute
  left: 112px
  bottom: 0

.arrow__btn--prev
  position: absolute
  left: 20.48px

  &:after
    content: ''
    width: 2.16px
    height: 25.87px
    display: block
    position: absolute
    top: 0
    right: -85px
    border-radius: 2.16px
    background: rgb(230, 232, 236)
    margin: 0px 34.493507385253906px

  .arrow__img
    fill: rgb(146, 146, 146)
    transition: fill 0.3s ease

    &:active
      fill: rgb(35, 38, 47)

.arrow__img--next
  position: absolute
  right: 20.48px

  .arrow__img
    fill: rgb(146, 146, 146)
    transition: fill 0.3s ease

    &:active
      fill: rgb(35, 38, 47)
